@import "tailwindcss" ;
@theme{
    --color-green-custom: rgba(192, 236, 179, 0.644);
}
.nav{
    background: linear-gradient(  rgba(192, 236, 179, 0.979),rgba(192, 236, 179, 0));
}
body{
    background-color: rgba(242, 255, 238, 0.644);
}
.customimage{
    background-image: url("assets/bghome.png");
    
}

.children-who-i-am {
    opacity: 0; /* Inicialmente invisible */
    visibility: hidden; /* Inicialmente oculto y no ocupa espacio */
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s; 
}
.main-who-i-am:hover .children-who-i-am{
    opacity: 1; /* Visible */
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0s;
}